# Git Ignore Unneeded Files
#==========================

# VSCode settings.
.vscode/
.venv/

# Just for intellisense.
typings/

# Old stuff to be removed anyway.
___consts.py

# Rules for interpreter.
pyproject.toml

# Build directory created by ableton.
__pycache__/

____Live/